{
  "services": [
    {
      "name": "kibana",
      "address": "{{ bind_address }}",
      "port": {{ kibana_port }},
      "checks": [
        {
          "tcp": "{{ bind_address }}:{{ kibana_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
