- block:
    - name: Generating consul key
      command: /usr/local/bin/consul keygen
      register: keySt
    - name: Write consul key into vars file
      lineinfile:
        path: roles/deploy.Consul/vars/key.yml
        regexp: '^consul_key'
        line: "consul_key: '{{ keySt.stdout }}'"
        create: yes
      delegate_to: localhost
      become: no
  rescue:
    - include_tasks: install.yml
    - include_tasks: keygen.yml
