- block:
    - name: checking process 'elasticsearch'
      shell: ps xua | grep -v grep | grep -i elasticsearch
      changed_when: false
  rescue:
    - include_tasks: env_check.yml
    - include_tasks: '{{ ansible_os_family }}.yml'

- name: updating ElasticSearch configuration
  template:
    src: '{{ item }}.j2'
    dest: '/etc/elasticsearch/{{ item }}'
  with_items:
    - jvm.options
    - elasticsearch.yml
  register: configSt

- name: restarting ElasticSearch service
  service:
    name: elasticsearch
    state: restarted
    enabled: yes
    daemon_reload: yes
  when:
    - configSt is changed

- wait_for:
    host: "{{ hostvars[inventory_hostname]['ansible_' + bond_interface]['ipv4']['address'] }}"
    port: '{{ item }}'
  with_items:
    - 9300
    - '{{ elastic_http_port }}'

- block:
    - name: checking ElasticSearch version
      uri:
        url: "http://{{ hostvars[inventory_hostname]['ansible_' + bond_interface]['ipv4']['address'] }}:{{ elastic_http_port }}"
        return_content: yes
      register: versionCheck
      changed_when: false
      failed_when: elk_version > versionCheck.json.version.number
  rescue:
    - include_tasks: pre_upgrade.yml
    - include_tasks: '{{ ansible_os_family }}.yml'
    - include_tasks: post_upgrade.yml
