# ElasticSearch master nodes and Consul servers.
# IMPORTANT: At least 3 nodes to avoid brain-split.
# Read more on https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#master-node
# More settings in `group_vars/elasticMasterNode.yml` file.
[elasticMasterNode]
es-master-1 ansible_host=172.23.56.103
es-master-2 ansible_host=172.23.56.105
es-master-3 ansible_host=172.23.56.108

# ElasticSearch ingest node.(Optional)
# IMPORTANT: At least 1 nodes. If you don't need this group, please set `node_ingest: true` in `group_vars/elasticMasterNode.yml` file.
# Read more on https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#node-ingest-node
# More settings in `group_vars/elasticIngestNode.yml` file.
[elasticIngestNode]

# ElasticSearch hot data node, where newest data will be stored.
# IMPORTANT: At least 3 nodes
# Read more on https://www.elastic.co/blog/hot-warm-architecture
# More settings in `group_vars/elasticDataNode.yml` file.
[elasticHotNode]
es-hot-1 ansible_host=172.23.56.111
es-hot-2 ansible_host=172.23.56.112
es-hot-3 ansible_host=172.23.56.113

# ElasticSearch warm data node(Optional)
# More settings in `group_vars/elasticDataNode.yml` file.
[elasticWarmNode]

[elasticDataNode:children]
elasticHotNode
elasticWarmNode

# Logstash
# IMPORTANT: At least 1 node, DO NOT run with any ElasticSearch node on the same host.
[logstash]
logstash-1 ansible_host=172.23.56.114

# Kibana
# IMPORTANT: At least 1 node, and will be install an ElasticSearch instance with 'Cross Cluster Search' settings.
# Read more on https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cross-cluster-search.html#cross-cluster-search-settings
[kibana]
kibana-1 ansible_host=172.23.56.115

# Redis Cluster
# IMPORTANT: At least 3 nodes.
# This is an option groups. If it's empty, beats will send logs to logstash directly.
[redis]
redis-1 ansible_host=172.23.56.215
redis-2 ansible_host=172.23.56.216
redis-3 ansible_host=172.23.56.217

# Groups
[elasticsearch:children]
elasticMasterNode
elasticIngestNode
elasticHotNode
elasticWarmNode

[all:vars]
ansible_user=nsc
ansible_ssh_pass=quanduan
ansible_sudo_pass=quanduan

[ubuntu_hosts]
es-ingest-2 ansible_python_interpreter=/usr/bin/python3
es-hot-1 ansible_python_interpreter=/usr/bin/python3
es-master-3 ansible_python_interpreter=/usr/bin/python3
