# ES 计算节点，必填。(Needed)
[elasticMaster]
centos7 ansible_host=192.168.1.146 ansible_ssh_port=22
ubuntu16 ansible_host=192.168.3.231 ansible_ssh_port=22

# ES 数据节点，选填。(Optional)
[elasticNodeOnly]

# LogStash 部署节点，必填。(Needed)
[logstash]
centos7
ubuntu16

# Kibana 部署节点，必填。(Needed)
[kibana]
centos7
ubuntu16

# Consul server nodes，必填。(Needed)
[consulserver]
centos7 consul_bootstrap=true
ubuntu16

[elasticsearch:children]
elasticMaster
elasticNodeOnly

[all:vars]
ansible_user=nsc
ansible_ssh_pass=quanduan
ansible_sudo_pass=quanduan

# The ubuntu xenial servers which use python3 as default interpreter.
# DO NOT REMOVE THE NEXT LINE. But you can remove the servers under the group.
[ubuntu_hosts]
