input {
  beats {
    port => "{{ logstash_beats_port }}"
    client_inactivity_timeout => "300"
  }
  {%- if (groups['redis'] | length) >= 3 %}
  redis {
    data_type => "list"
    db => 0
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "filebeat"
  }
  redis {
    data_type => "list"
    db => 1
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "metricbeat"
  }
  redis {
    data_type => "list"
    db => 2
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "packetbeat"
  }
  {% endif -%}
}
