[Unit]
Description=Enable Transparent Huge Pages (THP)
Before=elasticsearch.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/enable-transparent-hugepages start

[Install]
WantedBy=multi-user.target
