input {
  beats {
    port => "{{ logstash_beats_port }}"
    client_inactivity_timeout => "300"
  }
  http_poller {
    urls => {
      cluster_health => {
        url => "http://elastic-ingest.service.{{ consul_dc_name }}.consul:9200/_cluster/health"
        headers => {
          Accept => "application/json"
        }
      }
      cluster_stats => {
        url => "http://elastic-ingest.service.{{ consul_dc_name }}.consul:9200/_cluster/stats"
        headers => {
          Accept => "application/json"
        }
      }
    }
    schedule => { every => "1m"}
    target => "elasticsearch"
    codec => "json"
  }
{% if (groups['redis'] | length) >= 3 %}
  redis {
    data_type => "list"
    db => 0
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "filebeat"
  }
  redis {
    data_type => "list"
    db => 1
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "metricbeat"
  }
  redis {
    data_type => "list"
    db => 2
    host => "redis.service.{{ consul_dc_name }}.consul"
    key => "packetbeat"
  }
{% endif %}
}
