filter {
  if [fileset][module] == "auditd" {
    kv {
      source => "message"
      include_brackets => false
      target => "[auditd][log]"
      #remove_field => "message"
    }
    kv {
      source => "[auditd][log][msg]"
      exclude_keys => ["pid", "ses", " old-auid", "old-ses", "fp", "spid", "rport"]
      target => "[auditd][log]"
    }
    mutate {
      rename => {
        "[auditd][log][type]" => "[auditd][log][record_type]"
      }
    }
  }
}
