filter {
  if "elastic_cluster" in [tags] {
    mutate {
      remove_field => [
        "[elastic_cluster][nodes][jvm][versions]",
        "[elastic_cluster][nodes][versions]",
        "[elastic_cluster][nodes][os][names]",
        "[elastic_cluster][timestamp]",
        "[elastic_cluster][@timestamp]",
        "[elastic_cluster][nodes][plugins]",
        "[elastic_cluster][@version]"
      ]
    }
  }
  if "elastic_shards" in [tags] {
    ruby {
      code => 'event.set("[elastic_shards][docs]", event.get("[elastic_shards][docs]").to_i)'
    }
    mutate {
      remove_field => [
        "[elastic_shards][@timestamp]",
        "[elastic_shards][@version]"
      ]
    }
  }
}
