---
actions:
  1:
    action: allocation
    description: "Move older indices to warm node."
    options:
      key: box_type
      value: hot
      allocation_type: include
      wait_for_completion: true
      timeout_override:
      continue_if_exception: false
      disable_action: false
    filters:
    - filtertype: alias
      aliases: active-logs
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ hot_to_warm_allocation_days }}
  2:
    action: alias
    description: "Remove alias name 'active-logs' from indices which moved to warm node."
    options:
      name: active-logs
      timeout_override:
      continue_if_exception: false
      disable_action: false
    remove:
      filters:
        - filtertype: allocated
          key: box_type
          value: warm
          allocation_type: include
