[Unit]
Description=Disable Transparent Huge Pages (THP)
Before=redis-server.service

[Service]
Type=oneshot
#RemainAfterExit=true
ExecStart=/usr/bin/disable-transparent-hugepages start

[Install]
WantedBy=multi-user.target
