[Unit]
Description=Disable Transparent Huge Pages (THP)
before=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/disable-transparent-hugepages start

[Install]
WantedBy=multi-user.target
