#============================= Filebeat modules ===============================
filebeat.config.modules:
  # Glob pattern for configuration loading
  path: /etc/filebeat/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: true

  # Period on which files under path should be checked for changes
  reload.period: 30s

#------------------------------ Log prospector --------------------------------
filebeat.prospectors:
{# ------------------- nodes ------------------- #}
- type: log
  enabled: true
  paths:
    - /var/log/monit.log
  multiline.pattern: '^\[CST'
  multiline.negate: true
  multiline.match: after
  tags: ["monit"]

- type: log
  enabled: true
  paths:
    - /var/log/filebeat/filebeat
    - /var/log/metricbeat/metricbeat
    - /var/log/packetbeat/packetbeat
  exclude_lines: [
    "connection reset by peer",
    "Failed to connect"
  ]
  tags: ["beats-log"]

#============================== Output =====================================

{% if (groups['redis'] | length) >= 3 %}
output.redis:
  hosts: ["redis.service.{{ consul_dc_name }}.consul:6379"]
  key: "filebeat"
  db: 0
  timeout: 5
{% else %}
output.logstash:
  hosts: ["logstash.service.{{ consul_dc_name }}.consul:{{ logstash_beats_port }}"]
  compression_level: 5
  timeout: 300
  slow_start: true
{% endif %}

#================================ Logging =====================================

logging:
  to_files: true
  level: error
  files:
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 7

#================================ General =====================================

fields_under_root: true
fields:
    beat_type: filebeat

name: {{ inventory_hostname }}

tags: [
{%- for item in group_names -%}
  "{{ item }}"{%- if loop.nextitem is defined -%},{%- endif -%}
{%- endfor -%}
]
