#==========================  Modules configuration ============================

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: /etc/metricbeat/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: true

  # Period on which files under path should be checked for changes
  reload.period: 30s

metricbeat.max_start_delay: 10s

#================================ Outputs =====================================

output.elasticsearch:
  hosts: ["elasticsearch.service.{{ consul_dc_name }}.consul:{{ elastic_http_port }}"]
  loadbalance: true
  slow_start: true

#================================ Logging =====================================

logging.to_files: true
logging.level: error
logging.files:
  rotateeverybytes: 10485760 # = 10MB
  keepfiles: 7

#================================ General =====================================

name: {{ inventory_hostname }}
tags: [
{%- for item in group_names -%}
  "{{ item }}"{%- if loop.nextitem is defined -%},{%- endif -%}
{%- endfor -%}
]
