packetbeat.interfaces:
  device: {{ ansible_default_ipv4.interface }}
  snaplen: 65536
  type: af_packet
  buffer_size_mb: 100
  with_vlans: yes

packetbeat.flows:
  enabled: true
  timeout: 30s
  period: 120s

packetbeat.protocols.icmp:
  enabled: false

packetbeat.protocols.dns:
  enabled: false
  period: 120s
  include_authorities: true
  include_additionals: true
  ports: [53]

{% if (groups['redis'] | length) >= 3 %}
output.redis:
  hosts: ["redis.service.{{ consul_dc_name }}.consul"]
  key: "packetbeat"
  db: 2
  timeout: 5
{% else %}
output.logstash:
  hosts: ["logstash.service.{{ consul_dc_name }}.consul:{{ logstash_beats_port }}"]
  compression_level: 5
  timeout: 300
  slow_start: true
{% endif %}

logging.to_files: true
logging.level: error
logging.files:
  rotateeverybytes: 10485760 # = 10MB
  keepfiles: 7

fields_under_root: true
fields:
    beat:
      type: packetbeat

name: {{ inventory_hostname }}

tags: [
{%- for item in group_names -%}
  "{{ item }}"{%- if loop.nextitem is defined -%},{%- endif -%}
{%- endfor -%}
]
