{
  "server": false,
  "datacenter": "{{ datacenter_name }}",
  "data_dir": "/var/consul",
  "encrypt": "{{ consul_key }}",
  "log_level": "INFO",
  "enable_syslog": true,
  "start_join": [
{%- for item in groups['kibana'] -%}
  "{{ hostvars[item]['ansible_host'] | default(item) }}"{%- if loop.nextitem is defined -%},{%- endif -%}
{%- endfor -%}
  ]
}
