{
{% if bootstrap == 'y' and consul_bootstrap is defined %}
  "bootstrap": true,
  "server": true,
{% elif 'consulserver' in group_names %}
  "server": true,
  "ui": true,
  "start_join": [
    {%- for item in groups['consulserver'] if item != ansible_nodename -%}
      "{{ hostvars[item]['ansible_host'] | default(item) }}"{%- if loop.nextitem is defined -%},{%- endif -%}
    {%- endfor -%}
  ],
{% else %}
  "server": false,
  "start_join": [
    {%- for item in groups['consulserver'] -%}
      "{{ hostvars[item]['ansible_host'] | default(item) }}"{%- if loop.nextitem is defined -%},{%- endif -%}
    {%- endfor -%}
  ],
{% endif %}
  "datacenter": "{{ consul_dc_name }}",
  "data_dir": "/var/consul",
  "encrypt": "{{ consul_key }}",
  "log_level": "WARN",
  "enable_syslog": true,
  "addresses": {
    "dns": "0.0.0.0"
  }
}
