{
  "services": [
    {
{% if node_ingest is defined and node_ingest == 'true' %}
      "name": "elastic-ingest",
{% else %}
      "name": "{{ consul_service_name | default('elastic-unknown') }}",
{% endif %}
      "address": "",
      "port": {{ elastic_http_port }},
      "tags": [
        "elk"
      ],
      "checks": [
        {
          "http": "http://localhost:{{ elastic_http_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
