{
  "services": [
    {
      "name": "kibana",
      "address": "",
      "port": {{ kibana_port }},
      "tags": [
        "elk"
      ],
      "checks": [
        {
          "http": "http://localhost:{{ kibana_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
