{
  "services": [
    {
      "name": "logstash",
      "address": "",
      "port": {{ logstash_beats_port }},
      "tags": [
        "elk"
      ],
      "checks": [
        {
          "tcp": "{{ hostvars[inventory_hostname]['ansible_' + bond_interface]['ipv4']['address'] }}:{{ logstash_beats_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
