{
  "services": [
    {
      "name": "logstash",
      "address": "",
      "port": {{ logstash_beats_port }},
      "tags": [
        "elk"
      ],
      "checks": [
        {
          "tcp": "localhost:{{ logstash_beats_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
