{
  "services": [
    {
      "name": "redis",
      "address": "{{ bind_address }}",
      "port": 6379,
      "checks": [
        {
          "args": ["/usr/local/bin/check_redis_master.sh"],
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    },
    {
      "name": "redis-sentinel",
      "address": "",
      "port": 26379
    }
  ]
}
