{
  "services": [
    {
      "name": "elasticsearch",
      "address": "",
      "port": 9200,
      "checks": [
        {
          "http": "http://{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) }}:9200/",
          "interval": "30s",
          "timeout": "1s"
        }
      ]
    }
  ]
}
