{
  "services": [
    {
      "name": "elastic",
      "address": "{{ bind_address }}",
      "port": {{ elastic_http_port }},
      "enable_tag_override": false,
      "tags": [
        {%- for item in elastic_instance_roles -%}
          "{{ item }}"{%- if loop.nextitem is defined -%},{%- endif -%}
        {%- endfor -%}
      ],
      "checks": [
        {
          "http": "http://{{ bind_address }}:{{ elastic_http_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
