- block:
    - stat:
        path: downloaded_files/elasticsearch-{{ elk_version }}.{{ format }}
      register: p
      failed_when: p.stat.exists == false
      when: format == 'deb'
      delegate_to: localhost
      become: no
      run_once: true
  rescue:
    - name: 'downloading kibana-{{ elk_version }}-amd64.deb'
      get_url:
        url: "https://artifacts.elastic.co/downloads/kibana/kibana-{{ elk_version }}-amd64.deb"
        dest: "downloaded_files/"
      register: download
      until: download|succeeded
      retries: 5
      delay: 10
      delegate_to: localhost
      become: no
      run_once: yes
      when: format == 'deb'

- block:
    - stat:
        path: downloaded_files/elasticsearch-{{ elk_version }}.{{ format }}
      register: p
      failed_when: p.stat.exists == false
      when: format == 'rpm'
      delegate_to: localhost
      become: no
      run_once: true
  rescue:
    - name: 'downloading kibana-{{ elk_version }}-x86_64.rpm'
      get_url:
        url: "https://artifacts.elastic.co/downloads/kibana/kibana-{{ elk_version }}-x86_64.rpm"
        dest: "downloaded_files/"
      register: download
      until: download|succeeded
      retries: 5
      delay: 10
      delegate_to: localhost
      become: no
      run_once: yes
      when: format == 'rpm'
